 *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
 }

.tangerine-bold {
  font-family: "Tangerine", cursive;
  font-weight: bold;
  font-style: normal;
  font-size: 100px;
  background: linear-gradient(30deg, orange, black);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}

 #tangerine-bold1 {
  font-family: "Tangerine", cursive;
  font-weight: 700;
  font-style: normal;
  font-size: 35px;
  background: linear-gradient(30deg, orange, black);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
 
#tangerine-bold1 {
    display: flex;
    align-items: center;
}

#tangerine-bold1 li {
    list-style: none;
    margin-left: 100px;
    text-decoration: none;
}

.lg {
    border-radius: 20px;
    width: 90px;
    height: 90px;
}

.hero {
    background-image: url(bg.jpg);
    background-size: cover;
    background-position: no-repeat;
    padding: 10rem 2rem;
    text-align: center;
    color: black;
}

.hero h1 {
    font-size: 85px;
    background: linear-gradient(75deg, orange, black);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "tangerine";
    text-align: center;
    justify-content: space-around;
}

.hero p {
    font-size: 30px;
    text-align: center;
    justify-content: space-around;
}

span {
    color: rgb(134, 83, 34);
    font-weight: bold;
    font-style: italic;
    font-size: 40px;
}

.hero img {
   border-radius: 8%;
   height: 250px;
   float: none;
   display: block;
   margin: 0 auto 45px auto;
}



.content h2 {
    font-size: 60px;
    background: linear-gradient(30deg, orange, black);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "tangerine";
}

.content p{
    font-size: 25px;
}

.cta h2 {
    font-size: 60px;
    background: linear-gradient(30deg, orange, black);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "tangerine";
}

.cta p{
    font-size: 25px;
}

.cta button {
    font-family: "tangerine";
    font-weight: 700;
    font-size: 30px;
    background-color: rgb(241, 193, 102);
    width: 135px;
    height: 65px;
    border-radius: 50px 0px;
}

.card{
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    color: #333;
}


.suggestion {
    font-weight: bold;
    min-height: 60px;
    margin-top: 1rem;
}

.heading {
    font-family: "tangerine";
    font-size: 50px;
    background: linear-gradient(30deg, orange, black);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.cta-form {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.cta-form input {
    padding: 10px;
    width: 100%;
    max-width: 400px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff9c4; 
    color: #ca7608;
} 

.sub{
    font-family: "tangerine";
    font-weight: 700;
    font-size: 30px;
    background-color: rgb(241, 193, 102);
    width: 135px;
    height: 65px;
    border-radius: 50px 0px;


}






























